<div id="home-info-box">

    <div id="logo"><img src="{{base_dir}}/assets/logo.svg"></div>

    <div id="info-messe" class="info-box grid">
        <div class="col col-2 info-box-icon"><img src="{{base_dir}}/assets/eucharist.svg"></div>
        <div class="col col-10 info-box-content">
            <h3>ORARIO DELLE MESSE</h3>
            <p>{{ hours.masses.festivo }}</p>
            <h4>FERIALE</h4>
            <p>{{ hours.masses.feriale }}</p>
        </div>
    </div>

    <div id="info-ufficio" class="info-box grid">
        <div class="col col-2 info-box-icon"><img src="{{base_dir}}/assets/rubber-stamp.svg"></div>
        <div class="col col-10 info-box-content">
            <h3 class="info-box-content-title">UFFICIO PARROCCHIALE</h3>
            <p class="info-box-content-text">{{ hours.office }}</p>
        </div>
    </div>

</div>
    