<div id="omelie-home-card">
    
    <h2>{{ homily.title }}</h2>
    <div class="references">
    <span class="vangelo-rif">{{ homily.ref }}</span> <span class="pubdate">{{ homily.pubdate }}</span> <span class="calendario">{{ homily.calendar }}</span>
    </div>
    <p>{{ homily.excerpt }}</p>
    <div class="buttons">
        <a class="omelie-card-cta" href="{{ homily.link }}">Leggi l'omelia</a>
        <a class="omelie-card-cta-all" href="/omelie/">Tutte le omelie</a>
    </div>    

</div>